#projects-header {
    height: fit-content;
    min-height: 80px;
    width: 100%;
    text-align: center;
    /*
    background: rgba(0,16,31,1);
    color: white;
    text-shadow: .8px .5px 4px rgba(199,217,0,.7);
    opacity: .9;
    */
    margin: auto;
    
}

.projects-row-title {
    /*font-family: 'Cabin Bold';*/

}

.row {
    margin: 3% auto;
}
.project-description {
    font-family: 'Cabin';
}
hr {
    background-color: rgba(255, 71, 70, 0.5);
    width: 98%;
    margin: auto;
}

#project1 {
    margin-top: 4%;
}