#projects-container {
    margin-top: 6%;;
}
#projects-header {
    height: fit-content;
    min-height: 80px;
    width: 100%;
    text-align: center;
    /*
    background: rgba(0,16,31,1);
    color: white;
    text-shadow: .8px .5px 4px rgba(199,217,0,.7);
    opacity: .9;
    */
    margin: auto;
    
}

.projects-row-title {
    /*font-family: 'Cabin Bold';*/

}

.row {
    margin: auto;
}
.tag-row {
    margin: 3% auto;
    padding: 0;
    margin-left: -1%;
}
.project-description {
    font-family: 'Cabin';
}

.row hr {
    background-color: rgba(255, 71, 70, 0.5);
    width: 99%;
    margin: 4% auto 5% auto;
}

#project1 {
    margin-top: 4%;
}

.project-pic-content {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.projects-pic {
  max-width: 315px;
}
.chatplus-pic-container {
    margin-top: -50px
}

.project-link-style {
    text-decoration: none;
}

/* Animations */

/* Animations */
/* .project-left-slide {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

.project-right-slide {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

.project-in-view {
    opacity: 1;
    transform: translateX(0);
} */
  

@media only screen and (min-width: 950px) {
  .projects-pic {
    max-width: 360px;
  }
}

@media only screen and (max-width: 768px) {
    .project-pic-content {
        flex-direction: column;
    }
    .chatplus-pic-container {
        margin-top: 0px;
    }
    .row {
        margin: 9% auto;
    }
    .tag-row {
        margin: 3% auto 6% auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .project-description__link {
        text-align: center;
    }
}