#home-container {    
  top: 0;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.33);
}

.section-header {
  min-height: auto;
  text-align: center;
  margin: 20px auto;
}

.section-header-first {
  /* padding-top: 5%; */
}

.home-projects__container {
  /* padding: 0 8%; */
}


/* Mobile under 600px */
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 400px) {

}


/* adjusted z-index for sparkle animation */
.skills__logo-container,
.contact__input,
#contact-container
{
  position: relative;
  z-index: 10;
}