/* ProposalRequestForm.css */

.proposal-form-wrapper {
  position: relative;
}

.proposal-form {
  position: fixed;
  top: 0;
  left: -100%; /* Start off-screen */
  width: 500px; /* Adjust the width as needed */
  height: 100%;
  background-color: #2d3133;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.4s ease-in-out; /* Smooth slide-in effect */
  z-index: 1000;
  
  overflow: scroll;
}

.proposal-form.active {
  left: 0; /* Slide into view */
}

.proposal-form h2 {
  margin-top: 0;
  color: white;
}

.proposal-form .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 42px;
  cursor: pointer;
  color: white;
}

.proposal-form label {
  display: block;
  margin-top: 15px;
  color: white;
}
.proposal-form option,
.proposal-form select,
.proposal-form textarea,
.proposal-form input {
  color: white;
}

.proposal-form input,
.proposal-form select,
.proposal-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #121212;
}

.proposal-form button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #913c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.proposal-form button[type="submit"]:hover {
  background-color: #dd6b6b;
}
