#contact-container {
    margin: 25px auto 0px auto;
    width: 90%;
    font-size: 1em;
    padding: 0;
  
    display: flex;
    flex-direction: column;
  }
  
  #contact-title {
    font-size: 1.2em;
  }
  
  .img-contact-link {
    margin: auto 2%;
    font-size: 1em;
    margin-right: auto;
  }
  