#footer-container {
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    /*max-width: 100vw;*/
    height: fit-content;
    padding: 0;
    padding-top: 12px;
    color: white;
    box-sizing: border-box;
  font-family: 'Rokkitt', serif;
  }
.footer-icons {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
}

.footer-text {
    padding: 0;
    margin: 0;
  }
.footer-info-link, .footer-info-link:visited {
    color: white;
}