#footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  width: 100%;
  height: fit-content;
  padding: 50px 50px 50px 50px;
  color: white;
  box-sizing: border-box;
  font-family: 'Rokkitt', serif;
  position: relative;
}
/* #footer-container {
  position: absolute;
  width: 100%;
  max-width: 100vw;
} */

.footer-content {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
  gap: 20px;
}
.footer-contact-info-container {
  width: 100%;
}
.footer-brand-info-container {
  width: 150px;
} 
.footer-icons {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  gap: 20px;
}

.footer-text {
  padding: 0;
  margin: 0;
  }
.footer-info-link, .footer-info-link:visited {
  color: white;
}
.footer-info-link-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 5px;
}
.footer-info-link{
  cursor: pointer;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  /* .footer-content {
    flex-direction: column;
  }
  .footer-brand-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  } */
  .footer-brand-info-container {
    width: 100px;
  }
}