#skills-header {
    height: fit-content;
    width: 100%;
    
    /*
    background: rgba(0,16,31,1);
    color: white;
    text-shadow: .8px .5px 4px rgba(199,217,0,.7);
    opacity: .9;
    */
    
    margin: auto;
    
    /*
    font-family: 'Cabin Bold';
    text-transform: uppercase;
    */
    
}

#skills-title {
    text-align: center;
}