
@font-face {
  font-family: 'Rokkitt';
  src: url('/src/Resources/Fonts/Rokkitt-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Cabin Bold';
  src: url('/src/Resources/Fonts/Cabin-Bold.ttf');
}

@font-face {
  font-family: 'Cabin';
  src: url('/src/Resources/Fonts/Cabin-VariableFont_wdth,wght.ttf');
}

body {
  font-family: 'Rokkitt';
  width: 800;
  margin: auto;
}

#portfolio {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: block;
}

#container {
  width: 500px;
  height: 150px;
  padding: 2% 0;
  margin: auto;
  text-align: center;
}
#header-container {
  color: white;
  padding: 18px;
  width: 100%;
  /*height: 200px;*/
  font-size: 1em;
  border-radius: 3px;
  text-align: center;
 /* text-shadow: 1px 1px 1px silver;*/
  background: rgb(0,16,31);
  background: linear-gradient(0deg, rgba(0,16,31,1) 97%, rgba(9,78,44,1) 99%, rgba(199,217,0,1) 100%);
}

#name {
  font-size: 2.5em;
  letter-spacing: 3.5px;
  font-Family: 'Cabin Bold';
}
#header-description {
  /*margin-top: -25px;*/
  
}

#title,
#log {
  font-Family: 'Rokkitt';
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: 400;

}

#glyph {
  font-size: 1.8em;
  animation-name: glyph;
  animation-duration: 1.45s;
  animation-iteration-count: infinite;
  vertical-align: bottom;
  line-height: 1;
  letter-spacing: 3px;
}

@keyframes glyph {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.title {
  font-family: 'Cabin Bold';
  text-align: center;
  font-size: 1.7em;
  opacity: .8;
  color:rgba(0,16,31,1);
}
#skills-container {
  width: 100%;
  padding: 0;
  margin: 25px auto;
}
#do {
  line-height: 15px; 
}
#skills-title1 {
  margin: 40px auto 0 auto;
  height: 45px;
  width: 100%;
}
#do-list {
  text-align: center;
  line-height: 15px;
  margin: 20px auto;
}
#skills-title2 {
  text-align: center;
  height: 115px;
  width: 100%;
  border: 10pt ridge rgba(0,16,31,.3);
  margin: 25px auto;
  font-family: 'Cabin Bold';
  text-align: center;
  opacity: .9;
}
#skills-title2 h3 {
  line-height: 2.5;
  font-size: 1.7em;
}
#know-list {
  font-size: '.9em';
  max-width: 600px;
  margin: auto;
}
#projects-title {
  height: 115px;
  width: 100%;
  background: rgba(0,16,31,1);
  color: white;
  margin: 15px auto;
  font-family: 'Cabin Bold';
  text-align: center;
  opacity: .9;
}
#projects-title h3 {
  line-height: 3.3;
  font-size: 1.7em;
}

#know {

}
#projects-title {
  margin: 25px auto;
}
.projects-pic-container-mint {
  display: block;
  margin: auto;
}
.projects-pic-container-cashflow {
  display: block;
  margin: auto;
}
.projects-pic {
  max-height: 200px;
}
#info-container {
  margin: 30px auto;
}

#github-container {
  text-align: center;
  height: 100px;
  padding: 2%;
}
#github-container a {
  font-size: 1.4em;
}

#map-container {
  height: 400px;
  width: 80%;
  margin: auto;
  padding: 2% 0;
}

#contact-container {
  margin: 30px auto;
  padding: 1%
}
#contact-title {
  font-family: 'Cabin Bold';
  text-align: center;
  font-size: 1.7em;
  opacity: 1;
  color: #62c246;
}
#footer-container {
  text-align: center;
  margin: 30px auto;
  font-size: 1.2em;
  width: 100%;
  height: 100px;
}