
@font-face {
  font-family: 'Rokkitt';
  src: url(/src/resources/fonts/Rokkitt-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Galdeano';
  src: url(/src/resources/fonts/Galdeano-Regular.ttf);
}

@font-face {
  font-family: 'Varta';
  src: url('/src/resources/fonts/Varta-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Cabin Bold';
  src: url('/src/resources/fonts/Cabin-Bold.ttf');
}

@font-face {
  font-family: 'Cabin';
  src: url('/src/resources/fonts/Cabin-VariableFont_wdth,wght.ttf');
}

body {
  font-family: 'Rokkitt';
  width: 100%;
}

#portfolio {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: block;
}

.title {
  font-family: 'Cabin Bold';
  text-align: center;
  font-size: 1.5em;
}

#container {
  width: 500px;
  height: 150px;
  padding: 2%;
  margin: auto;
  text-align: center;
}
#header-container {
  color: white;
  padding: 18px;
  width: 100%;
  height: 200px;
  font-size: 1em;
  border-radius: 3px;
  text-align: center;
 /* text-shadow: 1px 1px 1px silver;*/
  background: rgb(0,16,31);
  background: linear-gradient(0deg, rgba(0,16,31,1) 97%, rgba(9,78,44,1) 99%, rgba(199,217,0,1) 100%);
}

#name {
  font-size: 2.4em;
  letter-spacing: 5px;
  line-height: 2;
  font-Family: 'Rokkitt';
}
#header-description {
  margin-top: -25px;
  
}

#title,
#log {
  font-Family: 'Cabin Bold';
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 400;

}

#glyph {
  font-size: 1.6em;
  animation-name: glyph;
  animation-duration: 1.45s;
  animation-iteration-count: infinite;
  vertical-align: bottom;
}

@keyframes glyph {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

#do {
  line-height: 15px; 
}
#know {

}
#info-container {
  margin: 30px auto;
}

#github-container {
  text-align: center;
  height: 125px;
}
#github-container a {
  font-size: 1.4em;
}

#map-container {
  height: 400px;
  width: 100%;
  margin: auto;
}

#contact-container {
  
}

#footer-container {
    text-align: center;
    margin: 30px auto;
    font-size: 1.2em;
    width: 100%;
    height: 100px;
}