.main-nav__list {
  list-style: none;
}
.main-nav__list-item {
  height: fit-content;
}
.main-nav__list-item a {
  height: fit-content;
  width: 90px;
  /*border: 1pt solid gray;*/
    
  display: flex;
  align-items: center;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    /*padding: 0.5rem 0rem;
    background-color: rgb(13, 18, 20);
    color: rgb(255, 255, 255);
    */
    z-index: 100;

    padding-left: 1.34rem;
  }
  
  .brand-name {
    text-decoration: none;
    /*color: rgb(255, 255, 255);
    */
    font-size: 1.25rem;
    margin-left: 1rem;

    font-family: 'Orbitron', sans-serif;
  }
  
  .navigation-menu {
    margin-right: auto;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 .45rem 0 0;
    font-size: .9em;
  }
  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .nav-link-highlighted {
    color: rgb(255, 77, 0);

    
  }
  .nav-link-highlighted:hover {
    color: rgb(255, 77, 0);

    
  }
  .nav-link-normal {
    
  }
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    background-color: rgb(13, 18, 20);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    
  }
  
  /*
  @media screen and (max-width: 550px) {
    .hamburger {
      display: block;
    }
  
    .navigation-menu ul {
      flex-direction: column;
      position: absolute;
      top: 40px;
      right: 0;
      width: 50%;
      height: calc(30vh - 60px);
      background-color: rgb(13, 18, 20);
      border: 1px solid rgb(65, 54, 38);
      box-shadow: 0px 0px 1px 1px x;
      display: none;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: white;
      width: 100%;
      padding: 1.1rem 0;
    }
  
    .navigation-menu li:hover {
      background-color: #eee;
    }
  
    .navigation-menu.expanded ul {
      display: block;
    }
  }
  
  */

  